body {
    font-family: 'Open Sans Condensed';
    padding :20px 60px;  
    background: linear-gradient(150deg, lightyellow 15%, white 120%);
}

a{
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}